/*** Variables ***/
/*** Mixins ***/
/**** Nav ****/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: relative;
}
@media (min-width: 1024px) {
  .navbar {
    height: 96px;
  }
}
.navbar__i-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0;
  padding: 17px;
}
.navbar__icon {
  display: flex;
  font-size: 16px;
}
.navbar__logo {
  height: 36px;
}
@media (min-width: 1024px) {
  .navbar__logo {
    height: 34px;
  }
}

/**** Hero ****/
.hero__img {
  display: flex;
  height: 275px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
  align-items: flex-start;
}
@media (min-width: 1024px) {
  .footer {
    height: 84px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 25px 30px;
  }
}
.footer__ohmyfood {
  width: 139px;
  height: 27px;
  font-family: "Shrikhand";
  color: white;
}
.footer__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  color: white;
}
@media (min-width: 1024px) {
  .footer__txt {
    flex-direction: row;
    gap: 7px;
  }
}
.footer__txt--action {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 11px;
  margin-bottom: 7px;
  width: 190px;
}
.footer__icon {
  font-size: 13px;
  width: 11px;
}
.footer__txt--simple {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
  width: 130px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -39px;
  gap: 40px;
  padding: 32px 13px 40px 13px;
  background-color: #F6F6F6;
  border-radius: 39px 39px 0 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.menu__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 24px;
}
.menu__like {
  font-size: 21px;
}
@media (min-width: 1024px) {
  .menu {
    width: 73%;
  }
}

.mets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  width: 100%;
  gap: 12px;
}
@media (min-width: 1024px) {
  .mets {
    width: 60%;
  }
}
.mets p {
  font-size: 15px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mets__section-title {
  text-transform: uppercase;
  height: 27px;
}
.mets__section-title span {
  text-decoration: underline;
  text-decoration-color: #99E2D0;
  text-decoration-thickness: 3px;
  text-underline-offset: 9px;
}
.mets__plate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 13.5px 13.5px 13.5px 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
}
.mets__plate-title {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*** Font Style ***/
* {
  font-family: "Roboto", sans-serif;
}

.menu-title {
  font-family: "Shrikhand";
  font-size: 28px;
}

.section-title {
  font-size: 16px;
  font-weight: 300;
}

.plate-title {
  font-size: 18px;
  font-weight: 500;
}

.paragraph {
  font-weight: 300;
}

.button-txt {
  font-size: 16px;
  font-weight: 500;
}

.button {
  padding: 13px 19px;
  height: 50px;
  flex-shrink: 0;
  margin-top: 22px;
  border-radius: 25px;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, #9356DC 0%, rgb(255, 121, 218) 100%);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
}

/****** General ***********/
body {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
@media (min-width: 1024px) {
  .main-container {
    align-items: center;
  }
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}/*# sourceMappingURL=menus.css.map */