.fonctionnement {
  padding-top: 48px;
  padding-bottom: 68px;

  @include desktop {
    padding: 50px 180px;
  }

  &__steps {
    @include flex-center(column, normal, normal);
    padding-left: 12px;
    gap: 25px;

    @include desktop {
      @include flex-center(row, space-between, normal);
      width: 100%;
    }

  }

  &__step {
    @include flex-center(row, normal, center);
    border-radius: 20px;
    background-color: $main-bg-color;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    height: 72.38px;

    @include desktop {
      width: 32%;
    }


    &__content {
      @include flex-center(row, normal, center);
    }

    &__number {
      @include flex-center(row, center, center);
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $main-color;
      position: relative;
      left: -12px;
      color: white;
    }
  }

  &__icon {
    font-size: 17px;
    color: #7E7E7E;

    &--purple {
      color: $main-color;
    }
  }

  & h1 {
    margin-bottom: 26px;
  }
}

.step-content {
  @include flex-center(row, normal, center);
  gap: 20px;
  padding-left: 10px;
}