/**** Nav ****/
header {
  @include flex-center;
}

.navbar {
  @include navbar;
}

/**** Location ****/

.location {
  @include flex-center(row, center, center);
  gap: 17px;
  height: 50px;
  background-color: $light-grey;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;

  @include desktop {
    box-shadow: none;
  }

  &__logo {
    font-size: 16px;
  }

  & p {
    color: $dark-grey;
  }
}