$main-bg-color: #F6F6F6;

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 62px;
  background-color: $main-bg-color;

  & h1 {
    width: 73%;
    height: 68px;
  }

  &__paragraph {
    width: 84%;
    height: 46px;
  }

  &__button {
    width: 58%;
    height: 50px;
    margin-top: 22px;
    border-radius: 25px;
    background: rgb(147, 86, 220);
    background: linear-gradient(202deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color: white;
  }
}