.hero {
  background-color: $main-bg-color;

  @include desktop {
    @include flex-center(column, center, normal);
  }
}

.hero-content {
  @include flex-center(column, normal, center);
  text-align: center;
  padding-top: 39px;
  padding-bottom: 62px;

  @include desktop {
    height: 179px;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  & h1 {
    width: 73%;
    height: 68px;

    @include desktop {
      font-size: 40px;
      font-weight: 700;
      width: 100%;
    }
  }

  &__paragraph {
    width: 84%;
    height: 46px;

    @include desktop {
      font-size: 40px;
      font-weight: 700;
      width: 100%;
      margin-top: 18px;
    }
  }

  &__button {
    height: 50px;
    padding: 13px 19px 13px 19px;
    margin-top: 22px;
    border-radius: 25px;
    @include button-gradient;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    color: white;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      background-color: white;
      opacity: 0;
      transition: opacity 0.5s ease;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }

    &:hover:after {
      opacity: 0.3;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }

    @include desktop {
      margin-top: 18px;
      width: fit-content;
      padding-left: 18.75px;
      padding-right: 18.75px;
    }
  }
}