.footer {
  @include flex-center;
  gap: 16px;
  padding: 22px 25px;
  background-color: $dark-grey;
  align-items: flex-start;

  @include desktop {
    height: 84px;
    @include flex-center(row-reverse, flex-start, flex-end);
    padding: 0 25px 30px;
  }

  &__ohmyfood {
    width: 139px;
    height: 27px;
    font-family: 'Shrikhand';
    color: white;
  }

  &__txt {
    @include flex-center;
    color: white;

    @include desktop {
      flex-direction: row;
      gap: 7px;
    }
  }

  &__txt--action {
    @include flex-center(row, normal, center);
    gap: 11px;
    margin-bottom: 7px;
    width: 190px;
  }

  &__icon {
    font-size: 13px;
    width: 11px;
  }

  &__txt--simple {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 7px;
    width: 130px;
  }
}