/**** Nav ****/
header {
  @include flex-center;
}

.navbar {
  @include navbar;
}

/**** Hero ****/

.hero__img {
  display: flex;
  height: 275px;
  width: 100%;
  position: relative;
  z-index: 1;
}