.menu {
  @include flex-center (column, center, center);

  margin-top: -39px;
  gap: 40px;
  padding: 32px 13px 40px 13px;
  background-color: $main-bg-color;
  border-radius: 39px 39px 0 0;
  overflow: hidden;
  position: relative;
  z-index: 2;

  &__top {
    @include flex-center (row, space-between, center);
    width: fit-content;
    gap: 24px;
  }

  .like {
    margin-left: 34px;
    @include heart-icon;
  }

  .button {
    @include button;
    padding: 15px 49px;
  }

  .entrees {
    animation-delay: 0s;
  }

  .plats {
    animation-delay: 0.5s;
  }

  .desserts {
    animation-delay: 1s;
  }

  @keyframes onebyone {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @include desktop {
    width: 73%;
  }
}

.mets {
  @include flex-center;
  width: 100%;
  gap: 12px;
  opacity: 0;
  transform: scale(0.25);
  animation: onebyone 1s ease-in forwards;

  @include desktop {
    width: 60%;
  }

  &__section-title {
    text-transform: uppercase;
    height: 27px;

    & span {
      text-decoration: underline;
      text-decoration-color: $clear-green;
      text-decoration-thickness: 3px;
      text-underline-offset: 9px;
    }
  }

  &__plate {
    @include flex-center(row, normal, normal);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;

    &:hover>.mets__price-and-check {
      margin-right: 0px;
    }
  }

  &__plate-txt {
    @include text-towrap;
    padding: 13.5px 0px 13.5px 15px;
    width: 100%;
  }

  & p {
    display: block;
    font-size: 15px;
    @include text-towrap;
  }

  &__plate-title {
    display: block;
    @include text-towrap;
  }

  &__price-and-check {
    @include flex-center(row);
    gap: 13.5px;
    margin-right: -59px;
    transition: margin 500ms ease-in-out;
  }

  &__prix {
    align-self: flex-end;
    margin-bottom: 13.5px;
  }

  &__check {
    @include flex-center(column, center, center);
    width: 59px;
    height: 100%;
    background-color: $clear-green;
    margin-right: 0;

    & i {
      color: white;
      font-size: 20px;
    }
  }
}