@import '../common.scss';
@import '../variables&mixins.scss';
@import 'header';
@import '../footer';
@import 'menu';


/*** Font Style ***/

.section-title {
  font-size: 16px;
  font-weight: 300;
}

.plate-title {
  font-size: 18px;
  font-weight: 500;
}

.paragraph {
  font-weight: 300;
}

.button {
  @include button;
  padding: 15px 49px;
}

/****** General ***********/

.main-container {
  @include flex-center(column, normal, normal);

  @include desktop {
    align-items: center;
  }
}