@import 'variables&mixins';
@import 'header';
@import 'footer';
@import 'menu';


/*** Font Style ***/
* {
  font-family: 'Roboto', sans-serif;
}

.menu-title {
  font-family: 'Shrikhand';
  font-size: 28px;
}

.section-title {
  font-size: 16px;
  font-weight: 300;
}

.plate-title {
  font-size: 18px;
  font-weight: 500;
}

.paragraph {
  font-weight: 300;
}

.button-txt {
  font-size: 16px;
  font-weight: 500;
}

.button {
  width: 17.5%;
  height: 50px;
  flex-shrink: 0;
  margin-top: 22px;
  border-radius: 25px;
  @include button-gradient;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
}

/****** General ***********/

body {
  margin: 0;
}

.main-container {
  @include flex-center(column, normal, normal);

  @include desktop {
    align-items: center;
  }
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}