/**** Nav ****/
header {
  @include flex-center;
}

.navbar {
  @include flex-center(normal, center, center);
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;

  @include desktop {
    height: 96px;
  }

  &__i-box {
    @include flex-center(normal, center, center);
    position: absolute;
    left: 17px;
    top: 17px;
    width: 30px;
    height: 30px;
  }

  &__icon {
    display: flex;
    font-size: 16px;
  }

  &__logo {
    height: 36px;

    @include desktop {
      height: 34px;
    }
  }
}

/**** Location ****/

.location {
  @include flex-center(normal, center, center);
  gap: 17px;
  height: 50px;
  background-color: $light-grey;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;

  &__logo {
    font-size: 16px;
  }

  & p {
    color: $dark-grey;
  }
}